<div class="home-table">
  <div class="left">
    <span class="title">Bienvenue dans le jeu du</span>
    <img class="perudo_title" src="assets/images/perudo_titre.png" alt="perudo title"/>
    <p>Tout d'abord, une explication des règles est primoridale pour bien jouer !
      <img src="assets/images/soleil.gif" class="sun">
    </p>

  </div>
  <div class="right">
    <img src="assets/images/parrot_dancing.jpeg">
    <button class="play-button" mat-raised-button>Jouer
    </button>
  </div>
</div>

<div class="rules">
  <div class="subtitle">
    <img src="assets/images/azteque_logo.png" class="logo">
    BUT DU JEU
  </div>
  <p>Le vainqueur est le dernier joueur à posséder un ou plusieurs dés.</p>
  <div class="subtitle">
    <img src="assets/images/azteque_logo.png" class="logo">
    COMMENT JOUER ?
  </div>
</div>
