<div class="home-table">
  <div class="left">
    <span class="title">Bienvenue dans le jeu du</span>
    <img class="perudo_title" src="assets/images/perudo_titre.png" alt="perudo title"/>
    <p>Tout d'abord, une explication des règles est primoridale pour bien jouer !
      <img src="assets/images/soleil.gif" class="sun">
    </p>

  </div>
  <div class="right">
    <img src="assets/images/parrot_dancing.jpeg">
    <button class="play-button" mat-raised-button routerLink="game_screen" routerLinkActive="active">Jouer
    </button>
  </div>
</div>
