<div class="home-table">
  <div class="left">
    <span class="title">Bienvenue dans le jeu du</span>
    <img class="perudo_title" src="assets/images/perudo_titre.png" alt="perudo title"/>
    <p>
      Tout d'abord, une explication des règles est primordiale pour bien jouer !
      <br/><br/><img src="assets/images/soleil.gif" class="sun"/>
      <br/><br/>Cliquez sur le bouton ci-dessous pour consulter les règles :
    </p>
    <button class="rules-button" mat-raised-button routerLink="rules" routerLinkActive="active">
      Consulter les règles
    </button>

    <form #playForm="ngForm" (ngSubmit)="onSubmit()">
      <p>
        Pour jouer, entrez un nom :
        <input #playerName="ngModel" type="text" id="playerName" name="playerName" [(ngModel)]="playerNameValue" required>
        <br/><br/>
        Choisissez un nombre de joueurs avec lesquels jouer :
        <select #numberOfComputers id="nb_players" name="nb_players">
          <option value="1">1 ordinateur</option>
          <option value="2">2 ordinateurs</option>
          <option value="3">3 ordinateurs</option>
          <option value="4">4 ordinateurs</option>
          <option value="5">5 ordinateurs</option>
        </select>
        <br/><br/>
        <button #playButton class="play-button" name="play-button" type="submit" [disabled]="!playForm.valid">Jouer</button>
      </p>
      <div *ngIf="playForm.controls['playerName'].invalid && (playForm.controls['playerName'].dirty || playForm.controls['playerName'].touched)">
        <p class="errorMessage">Le nom est requis pour jouer.</p>
      </div>
    </form>
  </div>
  <div class="right">
    <img src="assets/images/parrot_dancing.jpeg"/>
  </div>
</div>

