<!DOCTYPE html>
<html>
<head>
  <title>Règles du Perudo</title>
</head>
<body>

<h1>Règles du Perudo</h1>
<div class="col">
  <div class="left-side">
    <div class="subtitle">
      <img src="assets/images/azteque_logo.png" class="logo">
      BUT DU JEU
    </div>
    <p>Le but du jeu est d'être le dernier joueur à posséder un ou plusieurs dés.</p>
    <div class="subtitle">
      <img src="assets/images/azteque_logo.png" class="logo">
      DÉROULEMENT DE LA PARTIE
    </div>
    <p>Tous les joueurs agitent en même temps leur gobelet qui contient les dés, puis le pose sur la table.
      Chaque joueur peut regarder la valeur de ses dés. C'est ensuite au 1er joueur de jouer.</p>


    <h2>DÉROULEMENT DU 1ER TOUR DE JEU</h2>
    <p>Le 1er joueur doit faire une proposition, c'est-à-dire annoncer une valeur de dé et un nombre de dés, en fonction de son propre tirage
      et de ce qu'il pense y avoir sous les gobelets des autres joueurs. Il doit faire une approximation aussi proche de la réalité que possible mais peut,
      bien entendu, bluffer.</p>
    <p class="exemple"><b>Exemple : </b>Le 1er joueur peut annoncer « il y a au moins 5 dés de valeur 4 autour de la table ».</p>

    <h2>DÉROULEMENT D'UNE MANCHE</h2>
    <p>Le joueur suivant a 2 choix qui s'offrent à lui : soit il fait une autre proposition, soit il doute de la véracité de la proposition du joueur précédent et annonce "Dudo".</p>
    <h3>1- Faire une autre proposition :</h3>
    <p>Il doit proposer un nombre de dés ou une valeur de dé supérieur à la proposition précédente</p>
    <p class="exemple"><b>Exemple : </b>Si le joueur précédent a dit « je pense qu'il y a au moins 5 dés de valeur 4 autour de la table », le joueur suivant peut alors surenchérir en disant « je pense qu'il y a au moins 9 dés de valeur 4 autour de la table » (augmenter le nombre de dés) ou « je pense qu'il y a au moins 5 dés de valeur 6 autour de la table » (dans ce cas, il a augmenté la valeur des dés).</p>
    <p>Un joueur peut toujours proposer un nombre de dés indiquant un « 1 » (représentée par la tête de Paco le toucan), mais le nombre de dés proposé sera alors au moins égal à la moitié de la proposition du joueur précédent (arrondi à l'entier supérieur).</p>
    <p class="exemple"><b>Exemple : </b>Un joueur a annoncé précédemment « il y a au moins 11 dés de valeur 4 autour de la table ». Le joueur suivant peut alors choisir d'annoncer « je pense qu'il y a 6 PACO (dés de valeur 1) autour de la table ». Pourquoi 6 dés ? Parce que 11 dés divisé par 2 = 5,5 arrondi à l'entier supérieur : 6 ! </p>
    <h3>2- Annoncer « Dudo » :</h3>
    <p>Si vous pensez que le joueur précédent a bluffé et que sa proposition est inexacte, il est temps d'annoncer « Dudo ». Tous les joueurs soulèvent alors leur gobelet pour révéler tous les dés. On fait ensuite le total des dés qui indiquent la valeur correspondante à la dernière proposition (on prend aussi en compte les dés Paco). Si la proposition du joueur précédent s'est révélée exacte, le joueur qui a annoncé « Dudo » perd la manche. Si la proposition s'avère erronée, c'est le joueur qui l'a faite qui perd la manche.</p>
    <p>Une nouvelle manche peut alors commencer. La partie peut se jouer à l'infini selon l'humeur des joueurs.</p>

  </div>
  <div class="right-side">
    <div class="subtitle">
      <img src="assets/images/azteque_logo.png" class="logo">
      CAS PARTICULIERS
    </div>
    <h2>LES DÉS « PACO »</h2>
    <p>Les « 1 » sont remplacés par le dessin d'un toucan nommé Paco. Ces « 1 » sont considérés comme des jokers et comptent toujours comme ayant la même valeur que celle de la proposition des joueurs. On les appelle des Paco.</p>
    <p class="remarque">On ne peut jamais commnencer une manche en proposant un certain nombre de Paco.</p>
    <h2>PROPOSER DES PACO</h2>
    <p>Si le joueur précédent a proposé un certain nombre de Paco, vous avez deux possibilités : soit proposer un un nombre de Paco supérieur, soit proposer une autre valeur de dés au moins supérieur à deux fois la proposition précédentre plus un.</p>
    <p class="exemple"><b>Exemple : </b>Le joueur précédent a dit « je pense qu'il y a au moins 3 Paco autour de la table ». Le joueur suivant peut ensuite dire « je pense qu'il y a au moins 7 dés indiquant la valeur 4 autour de la table ». Pourquoi 7 dés ? Parce que 3 dés de le proposition précédente fois 2, plus 1 = 7 !</p>


  </div>
</div>

</body>
</html>
