//@use "src/theme";

:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  margin-left: 25px;

  .col {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }

  p {
    font-family: Constantia, sans-serif;
  }

  h1 {
    font-family: Jokerman, sans-serif;
    display: flex;
    //color: theme.$common-purple;
    font-size: xxx-large;
    margin-right: 100px;
    margin-bottom: 30px;
  }

  table {
    margin-top: 20px;
    vertical-align: center;

    tbody {
      :hover {
        cursor: pointer;
      }
    }
  }

  img {
    height: 3rem;
    width: auto;
  }

  .subtitle {
    font-family: Jokerman, sans-serif;
    font-size: xx-large;
    text-decoration: underline dotted red;

    .logo {
      width: 50px;

    }
  }

  h2 {
    font-family: Jokerman, sans-serif;
    color: red;
  }

  h3 {
    font-family: Constantia, sans-serif;
    font-weight: bold;
    font-size: large;
    color: red;
  }

  .exemple {
    color: green;
  }

  .remarque {
    font-style: italic;
  }

}
