<div class="d-flex align-items-center">
  <h1>Players</h1>
</div>

<div>
  <label for="playerNumber">Enter Player Number:</label>
  <input type="number" id="playerNumber" [(ngModel)]="nb" />
  <button mat-raised-button color="primary" (click)="createPlayers($event, nb)">Test create players</button>
</div>

<button (click)="computerPrediction($event)">Compute Prediction</button>

<p>Test prediction API: {{ computerPredictionResult | json }}</p>

<label for="diceValue">Enter the value of the dice:</label>
<input type="text" id="diceValue" [(ngModel)]="bet[0]" placeholder="e.g., CINQ">

<label for="betNumber">Enter the number you're betting on:</label>
<input type="number" id="betNumber" [(ngModel)]="bet[1]" placeholder="e.g., 3">

<p>Rules: {{ rules }}</p>

<button (click)="playerBet($event)">Submit Bet</button>

<div *ngIf="result">
  <p>Result: {{ result }}</p>
</div>




<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Dices Values</th>
  </tr>
  </thead>
  <tbody>
<!--  <tr *ngFor="let player of (players | async)">-->
<!--    <td>{{ player.lastName }}</td>-->
<!--    <td>-->
<!--      <ul>-->
<!--        <li *ngFor="let dice of (player.dices)">{{ dice.diceValue }}</li>-->
<!--      </ul>-->
<!--    </td>-->
<!--    <td>{{ player.activeDiceNumber.valueOf() }}</td>-->
<!--  </tr>-->

  </tbody>
</table>

<p>{{listOfDiceValues}}</p>

