<div class="d-flex align-items-center">
  <h1>Players</h1>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of (players | async)">
    <td>{{ player.firstName }}</td>
    <td>{{ player.lastName }}</td>
    <td>
<!--      <button mat-icon-button color="warn" (click)="deletePlayer($event, player)">-->
<!--        <mat-icon>delete</mat-icon>-->
<!--      </button>-->
      <button mat-icon-button color="warn" (click)="playGame">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

