@use "src/theme";

:host {
  display: flex;
  flex-direction: column;
  padding: 30px;

  p {
    font-family: Constantia, sans-serif;
    margin: 20px;
  }

  h1 {
    display: flex;
    color: theme.$common-purple;
    font-size: xx-large;
    margin-right: 100px;
    margin-bottom: 0;
  }

  table {
    margin-top: 20px;
    vertical-align: center;

    tbody {
      :hover {
        cursor: pointer;
      }
    }
  }

  .start-game-button {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: white;
    background-color: #ff5006;
    border-radius: 10px;
    font-size: 15px;
  }

  .centre {
    align-items: center;
  }

  img {
    height: 3rem;
    width: auto;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
