<div class="d-flex align-items-center">
  <h1>Players</h1>
  <a mat-raised-button color="primary" routerLink="/player-details/new">New</a>
</div>

<div>
  <label for="playerNumber">Enter Player Number:</label>
  <input type="number" id="playerNumber" [(ngModel)]="nb" />
  <button mat-raised-button color="primary" (click)="createPlayers($event, nb)">Test create players</button>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Dices Values</th>
    <th scope="col">Active Dice Number</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of (players | async)" routerLink="/player-details/{{player.id}}">
    <td>{{ player.firstName }}</td>
    <td>{{ player.lastName }}</td>
    <li *ngFor="let dice of player.dices">{{ dice.diceValue }}</li>
    <td>{{ player.activeDiceNumber.valueOf() }}</td>
    <td>
      <button mat-icon-button color="warn" (click)="deletePlayer($event, player)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

